/* Aplicando uma imagem de fundo que preenche toda a tela */
body {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7)),
    url('https://preview.redd.it/phf7wbld54zc1.jpeg?auto=webp&s=7d8f6fe91e136ae838a0ffe2162d1f7e063bc258'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}


/* Estilização do container e da navegação */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilos do menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;          /* Remove o sublinhado dos links */
    color: white;                   /* Define a cor do texto como branco */
    font-weight: bold;              /* Define o peso da fonte como negrito */
    font-size: 1.5em;               /* Aumenta o tamanho da fonte */
    padding: 10px 15px;             /* Adiciona um preenchimento ao redor do link */
    background-color: rgba(0, 0, 0, 0.39);        /* Define a cor de fundo como preta */
    border-radius: 5px;             /* Arredonda as bordas do fundo */
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efeito de hover */
    border-radius: 5px;
}
/* configuração da página personagens*/
.sonhos{
    display: none;
}
.cartas{
    max-width: 100%;
    padding-bottom: 20px;
    
}
.cartas:hover{
    transform: scale(1.1); /*Aumenta a escala da foto 1.1x*/
}
.container {
    width: 80%;/*Largura do card*/
    margin: 0 auto;/*Margem a esquerda com valor 0 e */
}
.scrollable-content {
    display: flex; /* Usando flexbox para alinhar os cards horizontalmente */
    overflow-x: scroll; /* Permite rolagem horizontal */
    max-width: 150%; /* Define a largura máxima do container */
    max-height: 200em;
    padding: 15px;
    background: #efe9da;
    border: 0.5px solid #ccc;
    width: 70%;
    height: 60%;
    gap: 1px;/* afasta as imagens*/
    background-color: #000000;
    
}
.card {
    background: #e9ecef;
    margin-right: 10px; /* Espaço entre os cards */
    padding: 15px;
    border-radius: 5px;
    min-width: 200px; /* Define uma largura mínima para os cards */
}

img:hover + .sonhos{
    display: flex;
    text-align: center;
    transition: all 3.5s ease-in-out;/*velocidade de transformação*/
}
/*Sobre o autor*/
#autor{
    max-width: 75%;
    padding-bottom: 20px;
    background-color: #000000;
}
/*Timeline*/
.linha_t{
    border-left: 6px solid rgb(14, 13, 13);
    height: 5000px;
    display: flex;
    position: relative;
    left: 50%;
    max-width: 1px;
    background-color: green;
    top: 200px;
}
.momentos{
    background-color: purple;
    border: 6px solid #464136;
    display: flex;
    min-width: 10px;
    min-height: 10px;
    position: absolute;/*Faz desconsiderar outros espaços de itens*/
    left: 49em;
    border-radius: 50%;/*torna a borda circular*/
    max-width: 3%;
}
#momentos1{
    top: 200px;
}
#timeline{
    padding-top: 30px;
}

#timeline{
    padding-top: 30px;
}
