/*configurações do cabeçalho das páginas*/
body {
    font-family: Arial, sans-serif;/**/
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    position: relative;
    height: 1em;
    margin: 10px auto;/*Afasta o header docontainer de cartazes*/ 
    text-align: center;/*Alinhamento do texto*/
    padding: 20px; /*Distanciamento da borda*/
    background: #464136;/* Cor de fundo */
    color: white;
}

nav{
    position: absolute;
    top: 0px;
    left: 9em;
    text-align: center;
    
}
nav li {
    display: inline-block;
    margin: 0 0 0 15px; 
}
nav a {
    
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/* configuração da página personagens*/
.cartas{
    max-width: 100%;
    padding-bottom: 20px;
}

.container {
    width: 80%;/*Largura do card*/
    margin: 0 auto;/*Margem a esquerda com valor 0 e */
}


.scrollable-content {
    display: flex; /* Usando flexbox para alinhar os cards horizontalmente */
    overflow-x: auto; /* Permite rolagem horizontal */
    max-width: 100%; /* Define a largura máxima do container */
    padding: 15px;
    background: #efe9da;
    border: 0.5px solid #ccc;
    
}

.card {
    background: #e9ecef;
    margin-right: 10px; /* Espaço entre os cards */
    padding: 15px;
    border-radius: 5px;
    min-width: 200px; /* Define uma largura mínima para os cards */
}

.card h2 {
    margin: 0 0 10px 0;
}

.card p {
    margin: 0;/*Margem */
}
